/* @since 0.88.459 */

/* Filter window eye icon inside paragraphs */
#bm-window-filter p svg {
  display: inline;
  height: 1em;
  fill: white;
}

/* Filter flex */
.bm-filter-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em 3ch;
}

/* Filter color */
.bm-filter-color {
  width: fit-content;
  max-width: 35ch;
  background-color: rgba(21, 48, 99, 0.9);
  border-radius: 1em;
  padding: 0.5em;
  gap: 1ch;
  transition: background-color 0.3s ease;
}

/* Filter color on hover */
.bm-filter-color:hover,
.bm-filter-color:focus-within {
  background-color: rgba(17, 40, 85, 0.9);
}

/* Filter window container for RGB color display */
.bm-filter-container-rgb {
  display: block;
  border: thick double darkslategray;
  width: fit-content;
  height: fit-content;
  padding: 1ch;
}

/* Filter window container for RGB color display for Other color */
.bm-filter-color[data-id="-2"] .bm-filter-container-rgb {
  background: conic-gradient(
    #aa0000 0%,
    #aaaa00 16.6%,
    #00aa00 33.3%,
    #00aaaa 50%,
    #0000aa 66.6%,
    #aa00aa 83.3%,
    #aa0000 100%
  );
}

/* Filter window container for RGB color display for Erased color */
.bm-filter-color[data-id="-1"] .bm-filter-container-rgb {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 8 8" width="1em" height="1em"><path d="M0,0V8H16V16H8V0" fill="rgba(0,0,0,0.5)"/></svg>') repeat;
  background-color: transparent !important;
}
.bm-filter-color[data-id="-1"] .bm-filter-container-rgb svg {
  fill: white !important;
}

/* Filter window container for RGB color display for Transparent color */
.bm-filter-color[data-id="0"] .bm-filter-container-rgb {
  background-color: transparent !important;
}

/* Filter window hide color button */
#bm-window-filter .bm-filter-container-rgb button {
  padding: 0.75em 0.5ch;
}

/* Filter window hide color button SVG */
.bm-filter-container-rgb svg {
  width: 4ch;
}

/* Filter window container for color information */
.bm-filter-color > .bm-flex-between {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

/* Filter window color flavor text */
.bm-filter-color small {
  font-size: 0.75em;
}

/* Filter window hide unused colors */
#bm-window-filter .bm-filter-color.bm-color-hide {
  display: none;
}

/* WINDOWED MODE */

/* Filter flex in windowed mode */
.bm-windowed .bm-filter-flex {
  flex-direction: column;
  gap: 0.25em;
}

/* Filter color in windowed mode */
.bm-windowed .bm-filter-color {
  width: auto;
  margin: 0;
  padding: 0;
}

/* Filter window container for RGB color display in windowed mode */
.bm-windowed .bm-filter-container-rgb {
  display: flex;
  width: 100%;
  gap: 0.5ch;
  align-items: center;
  padding: 0.1em 0.5ch;
  border: none;
  border-radius: 1em;
}

/* Filter window hide color button */
#bm-window-filter.bm-windowed .bm-filter-container-rgb button {
  padding: 0.5em 0.25ch;
}

/* Filter window hide color button SVG in windowed mode */
.bm-windowed .bm-filter-container-rgb svg {
  width: 3ch;
}

/* Filter window header 2 in windowed mode */
.bm-windowed .bm-filter-color h2 {
  font-size: 0.75em;
}